body {
    
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0f282c;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 2ex;
    margin: 3em;

}

#enter {
    padding: 15px;
    border-radius: 1%;
}
#ingreso {
    width: 6em;
   border: 2em ;
   border-radius: 5px;
   padding: 15px 32px; 
}
.boton {
    padding: 15px 32px;
    background-color: #305a73;
    border-radius: 5px;
    color: #bbdbe1
  
}
.boton:hover{
    background-color: #322433;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
  }